.button {
  width: 200px;
  height: 50px;

  @include flexCentered;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: color 250ms $timing-function, background-color 250ms $timing-function,
    box-shadow 250ms $timing-function;
}

.button--primary,
.formfield__button {
  @extend .button;

  background-color: getColor('accent');
  color: getColor('main-white');

  &:active,
  &:hover,
  &:focus {
    background-color: getColor('button-hover');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.formfield__button {
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.buttons-list__button {
  @extend .button;
  display: inline-flex;
  padding: 6px 22px;
  width: auto;
  height: auto;
  color: getColor('primary-text');
  background-color: getColor('bg-color');
  border-color: getColor('bg-color');
  &:active,
  &:hover,
  &:focus {
    background-color: getColor('accent');
    color: getColor('main-white');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.menu-button {
  display: inline-flex;

  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  z-index: 999;

  margin-left: auto;

  & .menu-button__cross {
    display: none;
  }

  &.is-open .menu-button__cross {
    display: block;
  }

  &.is-open .menu-button__menu {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:active,
  &:hover,
  &:focus {
    color: getColor('accent');
  }
}
