h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  font-family: $main-font;
  font-style: normal;

  @include fonts(400, 14px, 1.71, 0.03em);

  color: getColor('primary-text-color');

  background-color: getColor('main-white');
}

body.modal-open {
  overflow: hidden;
}
// Utility classes
.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.section--has-bg {
  background-color: getColor('bg-color');
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;

  @include fonts(500, 14px, 1.14, 0.02em);

  @include transition(color);
}

.title {
  text-align: center;
  @include fonts(700, 36px, 1.17, 0.03em);
  margin-bottom: 50px;
}

.subtitle {
  @include fonts(700, 14px, 1.14, 0.03em);

  margin-bottom: 10px;
}
.description {
  color: getColor('secondary-text');
  font-size: 16px;
  line-height: 1.2;
}
.icon {
  fill: currentColor;
}
