.footer {
  background-color: getColor('footer-bg');
  padding: 60px 0;

  & .container {
    display: flex;
    align-items: baseline;
  }
}
.address-wrapper {
  margin-right: 70px;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: getColor('address-link');

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  &--map {
    color: getColor('main-white');
  }
}

.footer__subtitle {
  @extend .subtitle;
  display: inline-block;
  text-transform: uppercase;
  color: getColor('main-white');
  margin-bottom: 20px;
}

// form
.footer__form-wrapper {
  margin-left: auto;
}
.formfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.formfield__wrapper {
  display: flex;
}
.formfield__label {
  display: block;
}
.formfield__input {
  width: 385px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;

  display: flex;
  align-items: center;

  @include fonts(400, 16px, 1.25, 0.03em);

  color: getColor('secondary-text');

  transition: border-color 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: getColor('accent');
    color: getColor('main-white');
  }

  &:focus {
    outline: 2px inset getColor('accent');
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: getColor('accent');
  }
  &::placeholder {
    @include transition(color);
  }
}
.formfield__icon {
  margin-left: 10px;
}
