.hero {
  @include flexCentered;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-color: getColor('footer-bg');
  // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url('../../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/bg-img-hero@1x.jpg');
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tablet/bg-img-hero@1x.jpg');
  }

  @media screen and (min-width: 1200px) {
    height: 600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/desktop/bg-img-hero@1x.jpg');
  }
}

.hero__content {
  margin-left: auto;
  margin-right: auto;
  @include flexCentered;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.hero__title {
  color: getColor('main-white');
  margin-bottom: 30px;
  text-align: center;

  @media screen and (max-width: 1199px) {
    @include fonts(900, 26px, 1.62, 0.06em, uppercase);
  }

  @media screen and (min-width: 1200px) {
    @include fonts(900, 44px, 1.36, 0.06em, uppercase);
  }
}

//====================HERO background image for X2 and X3 displays ================

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../images/mobile/bg-img-hero@2x.jpg');
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/tablet/bg-img-hero@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/desktop/bg-img-hero@2x.jpg');
    }
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../images/mobile/bg-img-hero@3x.jpg');
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/tablet/bg-img-hero@3x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/desktop/bg-img-hero@3x.jpg');
    }
  }
}
